<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>RGraph - Tree Animation</title>

<!-- CSS Files -->
<link type="text/css" href="static/base.css" rel="stylesheet" />

<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="static/jit-yc.js"></script>
<script language="javascript" type="text/javascript" src="static/jquery.js"></script>

<!-- Example File -->
<script language="javascript" type="text/javascript">
    var json = {{js|safe}};
</script>
<script language="javascript" type="text/javascript" src="static/example1.js"></script>
</head>

<body onload="init();">
    <div id="header"><h1><a target='_blank' href="http://python.org.ar/pyar">Inicio</a></h1></div>
<div id="center-container">
    <div id="infovis"></div>
</div>

</body>
</html>
